    <header>
        <nav class="Portafolio-Servicios">
            <ul class="contenedor-iconos-header">
                <li class="icon icon1"><a href="/admin_inicio"><span></span></a></li>
                <li class="icon icon2"><a href="/admin_educacion"> <span></span></a></li>
                <li class="icon icon3"><a href="/admin_reservas"> <span></span></a></li>
                <li class="icon icon4"><a href="/admin_contacto"> <span></span></a></li>
                <li class="icon icon5"><a href="/admin_cartama"> <span></span></a></li>
                <li class="icon icon6"><a href="/admin_usuario"> <span></span></a></li>
            </ul>
            <div class="contendor-iconos-nombres">
                <p>Inicio</p>
                <p>Educacion</p>
                <p>Reservas</p>
                <p>Contacto</p>
                <p>Cartama</p>
                <p>Usuario </p>
            </div>
        </nav>
    </header>
                         
    <main>
        <section class="contenedor-imagen-bienvenida">
            <section class="imagen-para-desktop">
                <p class="slogan_desktop">Parque educativo cartama "Un encuentro de saberes"</p>
            </section>
        </section>
        <section class="contendor-buscador-bandera">
            <div class="escudo-bandera"></div> 
                <div class="contenedor-buscador">
                    <input class="search-box" type="search" name="intput_busqueda" id="input_busqueda" placeholder="¿Qué quieres buscar?" maxlength="30">
                </div>
        </section> 

        <h2>Noticias y eventos de divulgacion</h2><hr>
            
        <section class="add-publication">
            <a href="admin_nueva_publicacion" class="add-publication-button">
                <picture></picture>
            </a>
        </section>

        <section class="contenido-del-inicio">
            {{#each query_publications}}    
                    <article class="article-1">

                        <section class="meta-informacion">
                            <output class="titulo-publicacion">
                                {{titulo_publicacion}}
                            </output>
                            
                            <output class="tipo-publicacion">
                                {{tipo_publicacion}}
                            </output>
                            <p class="separador">-</p>
                            <output class="fecha-publicacion">
                                {{created_at}}
                            </output>
                        </section>     

                            <output class="descripcion">
                                {{link_form_publicacion}}
                            </output>
                            
                            <output class="descripcion">
                                {{descripcion}}
                            </output>

                            <output>
                                <img class="imagen_publicacion" src="data:image/png;base64, {{imagen}}" alt="Imagen de la publicacion">
                            </output>

                            <section class="operational-functionalities">
                                <a href="/edit_publication/{{id_publicacion}}" class="modify-button funcionalidad-boton bottom_down">
                                    <picture></picture>
                                </a>

                                <a href="delete_publication/{{id_publicacion}}" class="delete-button funcionalidad-boton bottom_down">
                                    <picture></picture>
                                </a>
                            </section>
                    </article>
            {{/each}}
        </section>
        
