<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Parque educativo cartama">
  <title>{{title}}</title>
  
  <link rel="stylesheet" href="/css/{{componentes}}">
  <link rel="stylesheet" href="/css/{{mobile}}">
  <link rel="stylesheet" href="/css/{{tablet}}" media="screen and (min-width: 720px)">
  <link rel="stylesheet" href="/css/{{desktop}}" media="screen and (min-width: 1024px)">

</head>

<body>
 
  {{{ body }}}

</body>
</html>